<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/home" class="home-link">Home</span>
    <span class="example-spacer"></span>
    <button mat-flat-button routerLink="/admin">Admin</button>
    <button mat-flat-button routerLink="/create-blog" class="position___button">
      Create Blog
    </button>
    <button mat-flat-button routerLink="/users" class="position___button">
      Users
    </button>
    <mat-form-field class="position___dropdown" name="loginRegisterDropdown">
      <mat-select placeholder="Login">
        <mat-option (click)="navigateTo('login')">Login</mat-option>
        <mat-option (click)="navigateTo('register')">Register</mat-option>
        <mat-option (click)="navigateTo('update-profile')"
          >Update Profile</mat-option
        >
        <mat-option (click)="logout()">Logout</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
